.dnd5e2 :is(.card-tray, .effects-tray, .damage-tray).et-uncollapsed label .fa-caret-down {
  transform: rotate(0deg);
}
.dnd5e2 :is(.card-tray, .effects-tray, .damage-tray).et-uncollapsed .collapsible-content {
  display: grid;
  grid-template-rows: 1fr;
  transition: grid-template-rows 250ms ease;
}